BeautifulSoup
Django==1.3.1
Celery 
django-kombu
South
gunicorn
docutils
django-tagging
lxml
requests
django-celery
git+https://github.com/django-nonrel/django-nonrel.git
git+https://github.com/django-nonrel/mongodb-engine.git
git+https://github.com/django-nonrel/djangotoolbox.git
