argparse
Django
BeautifulSoup
Fabric==0.9.2
virtualenv==1.5.2
Celery 
django-kombu
South
gunicorn
MySQL-python
docutils
django-tagging
lxml
requests
django-celery
hg+https://bitbucket.org/wkornewald/django-nonrel
hg+https://bitbucket.org/wkornewald/djangotoolbox
git+https://github.com/django-mongodb-engine/mongodb-engine 
