<html>
<head>
<title>Here's the Deals!</title>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="http://datatables.net/download/build/jquery.dataTables.min.js"></script>
<link  rel="stylesheet" type="text/css" href="http://www.datatables.net/release-datatables/media/css/demo_table.css" />
<style type="text/css">
#top-wrap .top-left {float:left;}
#top-wrap .top-right {float: right; font-weight: bold;}
#top-wrap .top-right a {font-size: 10px; text-decoration: none; font-weight: bold;}
.fixer {clear:both;}
#results td {position: relative;}
#results td img {left: 10px; position: relative;}
</style>
</head>
<body>
<div id="top-wrap">
<span class="top-left">Deals from {{totalIndexed}} of {{totalBooks}} books; {{totalProfitable}} books with buys greater than sells!!!
</span>
<span class="top-right">Hiya, {{username}}!  <a href="/logout">Logout</a>
</span>
</div>
<div class="fixer"><a href="https://www.amazon.com/gp/tradein/multicondition-your-account?ie=UTF8&*Version*=1&*entries*=0&">Go to your Amazon Trade-In Account</a>
</div>
<div>
<form method="GET" action="">
<label for="name">Search Amazon</label>
<input type="text" length="100" name="search" />
<input type="submit" value="Go!"/>
</form>
</div>
<table id="results" class="fixer">
	<thead>
	<tr><td>URL</td><td>Buy</td><td>Sell</td><td>Net</td><td>Return on Investment</td><td>RoI + Shipping</td><td>Timestamp</td></tr>
	</thead>
	<tbody>
	{% for key,s in dictItems.items %}
	<tr><td><a href="{{s.0}}">{{s.1}}</a><a href="{{s.0}}" target="_blank"><img src="/static/icon_open_new_window.gif"></a></td><td>{{s.2}}</td><td>{{s.3}}</td><td>{{s.4}}</td><td>{{s.5}}</td><td>{{s.6}}</td><td>{{s.7}}</td></tr>
	{% endfor %}
	</tbody>
</table>
</body>
<script type="text/javascript">
$(document).ready(function(){
 $('#results').dataTable({
	"sPaginationType": "full_numbers",
        "aaSorting": [[ 3, "desc" ]]
    });
});

</script>
</html>
